.customerDivImageDetail{
    border-radius: 12px;
    background-color: #FFFFFF;
}

.customerDivCommitted {
    margin-top: 15px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.customerDivinfomationDetail{
    border-radius: 12px;
    background-color: #FFFFFF;
}

.customerDivaddToCartAndBuyNow{
    border-radius: 12px;
    background-color: #FFFFFF;
}
