
body {
    background-color: #f8f9fa; /* xám nhạt nhẹ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-wrapper {
    max-width: 600px;
    margin: 14px auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: 600;
}

.btn {
    min-width: 120px;
}

.btn + .btn {
    margin-left: 10px;
}

h2.form-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    color: #0d6efd;
}

