<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ViewOrderListServletAdmin</servlet-name>
        <servlet-class>controller.ViewOrderListServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailAdmin</servlet-name>
        <servlet-class>controller.ViewOrderDetailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderStatusAdmin</servlet-name>
        <servlet-class>controller.UpdateOrderStatusAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportStockServletAdmin</servlet-name>
        <servlet-class>controller.ImportStockServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VIewImportStockServletAdmin</servlet-name>
        <servlet-class>controller.VIewImportStockServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportHistoryDetailAdmin</servlet-name>
        <servlet-class>controller.ImportHistoryDetailAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerListAdmin</servlet-name>
        <servlet-class>controller.CustomerListAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewListNewFeedbackAdmin</servlet-name>
        <servlet-class>controller.ViewListNewFeedbackAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackForAdmin</servlet-name>
        <servlet-class>controller.ViewFeedbackForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyFeedbackForAdmin</servlet-name>
        <servlet-class>controller.ReplyFeedbackForAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateReplyAdmin</servlet-name>
        <servlet-class>controller.UpdateReplyAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusCommentAdmin</servlet-name>
        <servlet-class>controller.UpdateStatusCommentAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReplyServletAdmin</servlet-name>
        <servlet-class>controller.DeleteReplyServletAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrderListServletAdmin</servlet-name>
        <url-pattern>/ViewOrderListServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailAdmin</servlet-name>
        <url-pattern>/ViewOrderDetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusAdmin</servlet-name>
        <url-pattern>/UpdateOrderStatusAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportStockServletAdmin</servlet-name>
        <url-pattern>/ImportStockServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VIewImportStockServletAdmin</servlet-name>
        <url-pattern>/VIewImportStockServletAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportHistoryDetailAdmin</servlet-name>
        <url-pattern>/ImportHistoryDetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerListAdmin</servlet-name>
        <url-pattern>/CustomerListAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewListNewFeedbackAdmin</servlet-name>
        <url-pattern>/ViewListNewFeedbackAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackForAdmin</servlet-name>
        <url-pattern>/ViewFeedbackForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyFeedbackForAdmin</servlet-name>
        <url-pattern>/ReplyFeedbackForAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateReplyAdmin</servlet-name>
        <url-pattern>/UpdateReplyAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusCommentAdmin</servlet-name>
        <url-pattern>/UpdateStatusCommentAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReplyServletAdmin</servlet-name>
        <url-pattern>/DeleteReplyServletAdmin</url-pattern>
    </servlet-mapping>
</web-app>
